<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Varelatalog - Tilføj Vare</title>
</head>
<body>
    <div>
        <a href="/">
            <button> Tilbage </button>
        </a>
    </div>
    <form action="/createProduct" method="post">
        <table>
            <tbody>
                <tr>
                    <td>Navn:</td>
                    <td><input type="text" name="name" required/></td>
                </tr>
                <tr>
                    <td>Pris:</td>
                    <td><input type="number" name="price" required/></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="submit"> Tilføj </button>
        </div>
    </form>
</body>
</html>